# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/

# VSCode settings (if you use VSCode)
.vscode/

# PyCharm settings (if you use PyCharm)
.idea/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
